header{
  background: black;
  padding: 10px;
}
header #logo{
  color: #ffffff;
  text-decoration:none;
  width: 49%;
  display: inline-block;
}
header #logo img{
  width:60px;
  height:60px;
  vertical-align: middle;
}
header #nav{
  width: 49%;
  display: inline-block;
  text-align: right;
}
header #nav ul{
  list-style: none;
}
header #nav ul li{
  display: inline-block;
  width: 20%;
}
header #nav ul li a{
    color: #ffffff;
    text-decoration:none;
}
